<html>
    <head>
        <title>Race Day - Admin</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script lang="javascript" src="/scripts/jquery-1.10.0.js"></script>
        <script lang="javascript" src="/scripts/main.js"></script>
        <link href="/css/main.css" media="screen" rel="stylesheet" />
    </head>
    <body>
        <div id="container">
            <div id="form_panel">
                <h1>Race Management</h1>
                <hr />
                <a class="mgmtlink" href="/races">Races</a><br />
                <a class="mgmtlink" href="/owners">Registration</a><br />
                <a class="mgmtlink" href="/boats">Boats</a><br />
                <a class="mgmtlink" href="/racemgmt">Race Management</a>
                <a class="mgmtlink" href="/manualedit">Manual Edit</a>
            </div>
        </div>
    </body>
</html>
