<!DOCTYPE html>
<html>
    <head>
        <title>Race Day</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script lang="javascript" src="scripts/jquery-1.10.0.js"></script>
        <script lang="javascript" src="scripts/main.js"></script>
        <link href="css/main.css" media="screen" rel="stylesheet" />
    </head>
    <body>
        <div id="bracket_container">
            <h1 class="raceday">Rain Gutter Regatta</h1>
            <a href="/admin" class="loginbtn">Admin</a>
            <main id="tournament">
                    <ul class="round">
                        <li class="spacer">&nbsp;</li>
                        <li class="race race-top winner">Travis F.<span>Win</span></li>
                        <li class="race race-spacer">&nbsp;</li>
                        <li class="race race-bottom ">Beckett F.<span>Loss</span></li>
                        <li class="spacer">&nbsp;</li>
                        <li class="race race-top winner">Travis F.<span>Win</span></li>
                        <li class="race race-spacer">&nbsp;</li>
                        <li class="race race-bottom ">Beckett F.<span>Loss</span></li>
                        <li class="spacer">&nbsp;</li>
                    </ul>
                    <ul class="round">
                        <li class="spacer">&nbsp;</li>
                        <li class="race race-top winner">Travis F.<span>Win</span></li>
                        <li class="race race-spacer">&nbsp;</li>
                        <li class="race race-bottom ">Beckett F.<span>Loss</span></li>
                        
                        <li class="spacer">&nbsp;</li>
                    </ul>
            </main>
        </div>
    </body>
</html>
