<!DOCTYPE html>
<html>
    <head>
        <title>Race Day</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script lang="javascript" src="scripts/jquery-1.10.0.js"></script>
        <script lang="javascript" src="scripts/main.js"></script>
        <link href="css/main.css" media="screen" rel="stylesheet" />
    </head>
    <body>
        <div id="container">
            <table>
                <tr>
                    <td>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                    </td>
                    <td>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                    </td>
                    <td>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                    </td>
                    <td>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                    </td>
                    <td>
                        <div class="bracket_name">Travis F.</div>
                        <div class="bracket_name">Travis F.</div>
                    </td>
                    <td>
                        <div class="bracket_name">Travis F.</div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
