<div class="form_panel" th:fragment="admin_home">
    <h1>Race Management</h1>
    <hr />
    <a class="mgmtlink" href="/races">Races</a><br />
    <a class="mgmtlink" href="/registration">Registration</a><br />
    <a class="mgmtlink" href="/participants">Participants</a><br />
    <a class="mgmtlink" href="/boats">Boats</a><br />
    <a class="mgmtlink" href="/racemgmt">Race Management</a><br />
    <br/><br/><br/><br/><br/><br/><br/>
    <hr />
    <h1>There be dragons below, do not touch after first registration!</h1>
    <hr />
    <a class="mgmtlink" href="/cleardata1234">Delete All Data (BAD)</a><br />
    <a class="mgmtlink" href="/sampledata">Load Sample Data (BAD)</a><br />
    <hr />
    <br/><br/><br/><br/>
    <hr />
    <a class="mgmtlink" href="/manualedit">Manual Edit Brackets</a><br />
</div>