<div class="form_panel" th:fragment="boats">
    <h1>Vehicles</h1>
    <table>
        <tr><th>Vehicle ID</th><th>Name</th><th>Tag</th><th>Race</th><th><a class="button" href="/boat?id=-1">+</a></th></tr>
        <tr th:each="vehicle: ${vehicles}">
            <td>
                <a class="button" th:href="@{/boat(id=${vehicle.vehicleId})}" th:text="${vehicle.vehicleId}" />
            </td>
            <td>
                <div th:text="${vehicle.participant.name}" />
            </td>
            <td>
                <div th:text="${vehicle.tag}" />
            </td>
            <td>
                <div th:text="${vehicle.participant.race.name}" />
            </td>
            <td><a class="button" th:href="@{/boat/delete(id=${vehicle.vehicleId})}">Del</a></td>
        </tr>
    </table>
</div>