body {
        background-color: #111;
        color: #EEE;
}

table {
    width: 100%;
    text-align: left;
}

table a {
    text-decoration: none;
}

#container {
        color: #EEE;
        text-align: center;
        margin-left: 50%;
        margin-right: 50%;
        margin: auto;
        margin-top: 3%;
        width: 400px;
        max-width: 400px;
}

#form_panel {
    text-align: left;
    width: 400px;
    max-width: 400px;
}

.loginbtn {
    float: right;
    color: white;
    
}


main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .race-spacer{
  flex-grow:1;
}

/*
 *  General Styles
*/
#bracket_container {
  font-family:sans-serif;
  font-size:small;
  padding:5px;
  padding-left:15px;
  line-height:1.2em;
}

li.race{
  padding-left:20px;
}

li.race.winner{
  font-weight:bold;
}
li.race span{
  float:right;
  margin-right:5px;
}

li.race-top{ border-bottom:1px solid #aaa; }

li.race-spacer{ 
  border-right:1px solid #aaa;
  min-height:29px;
}

li.race-bottom{ 
  border-top:1px solid #aaa;
}

h1.raceday {
      text-align:center;
      float:center;
      margin-bottom: -25px;
}

.mgmtlink {
     color: white;
     font-size: 14pt;
     padding: 5px;
     text-decoration: none;
 }

.winnerspan {
    float: right;
}
  
.vsTable {
    text-align:center;
    font-size: 18pt;
}

.vsTable td {
    text-align:center;
}
