body {
    background-color: #eee;
    color: #111;
}

body.admin {
    background-color: #111;
    color: #eee;
}

table {
    width: 100%;
    text-align: left;
}

table a {
    text-decoration: none;
}

a.button{
    color: white;
    text-decoration: none;
}


#container {
        color: #EEE;
        background-color: #111;
        color: #EEE;
        text-align: center;
        margin-left: 50%;
        margin-right: 50%;
        margin: auto;
        margin-top: 3%;
        width: 400px;
        max-width: 400px;
}

#form_panel {
    text-align: left;
    width: 400px;
    max-width: 400px;
}

.btnPanel {
    position: absolute;
    margin: 10px;
    right: 0px;
    top: 0px;
}


main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .race-spacer{
  flex-grow:1;
}

/*
 *  General Styles
*/
#bracket_container {
  font-family:sans-serif;
  font-size:small;
  padding:5px;
  padding-left:15px;
  line-height:1.2em;
}

li.race{
  padding-left:20px;
}

li.race.winner{
  font-weight:bold;
}
li.race span{
  float:right;
  margin-right:5px;
}

li.race-top{ border-bottom:1px solid #aaa; }

li.race-spacer{ 
  border-right:1px solid #aaa;
  min-height:29px;
}

li.race-bottom{ 
  border-top:1px solid #aaa;
}

h1.raceday {
      text-align:center;
}

h3.races {
    text-align: center;
}

h3.races a {
        text-decoration: none;
        color: #050505;
        margin-left:10px;
        margin-right: 10px;
}

.mgmtlink {
     color: white;
     font-size: 14pt;
     padding: 5px;
     text-decoration: none;
 }

.winnerspan {
    float: right;
}
  
.vsTable {
    text-align:center;
    font-size: 18pt;
}

.vsTable td {
    text-align:center;
}

a.button {
    margin-right: 5px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 12px 2px 12px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    
    border-radius: 0.4em;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 270px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
    height: 1.75em;
    border: 1px solid gray;
    border-radius: 0.4em;
    padding-right: 10px;
    padding-left: 10px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type="text"]:focus {
  outline: none;
}


input[type="password"] {
  display: block;
  margin: 0;
  width: 270px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
    height: 1.75em;
    border: 1px solid gray;
    border-radius: 0.4em;
    padding-right: 10px;
    padding-left: 10px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type="password"]:focus {
  outline: none;
}